.choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    background-image: linear-gradient(310deg, #7928ca, #ff0080);
    color: #fff;
    word-break: break-all;
    box-sizing: border-box;
}
